h2 {
  color: #29a5a8;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 2rem;
}
field {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
fieldTag {
  font-weight: bold;
  font-size: 0.9rem;
}
input,
textarea {
  padding: 0.5rem;
  border: 0.5px solid #889c9c;
  border-radius: 5px;
}
input::placeholder,
textarea::placeholder {
  color: #889c9c;
  font-size: 0.9rem;
}
textarea {
  min-height: 20vh;
}
