reviews {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 1rem;
  padding: 2rem;
  margin: -1.5rem -2rem;
}

reviews::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
reviews {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

review > top > img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
review {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background: #ffffff;
  box-shadow: 0px 4px 15px 8px rgba(98, 0, 132, 0.05);
  border-radius: 10px;
  gap: 1.5rem;

  /* responsive */
  min-width: 85vw;
}
top {
  display: flex;
  align-items: center;
}
reviewer {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

occupation,
date {
  color: #7b8f8f;
  font-size: 0.9rem;
}
bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
bottom > img {
  width: 6rem;
}

@media only screen and (min-width: 600px) {
  /* For smaller tablets, mobile landscape mode */
  /* down from 85vw */
  review {
    min-width: 75vw;
  }
}

@media only screen and (min-width: 685px) {
  /* For most tablets: */
  review {
    min-width: 60vw;
  }
}

@media only screen and (min-width: 768px) {
  /* For narrow screens tablets: */
  review {
    min-width: 50vw;
  }
}

@media only screen and (min-width: 900px) {
  /* For laptops and desktops beyond */
  review {
    min-width: 20vw;
  }
}
