html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em sans-serif, georgia, serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: sans-serif, georgia;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  overflow-x: hidden;
}

header,
main {
  width: 100%;
  max-width: 1280px;
}

responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* responsive */
  padding: 1.5rem 1rem;
}

/* seperate */
header {
  margin-bottom: -2rem;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;

  /* responsive */
  margin: 7rem auto;
  gap: 1rem;
}

p,
p1,
p2,
h1,
h2,
h3,
h4,
form {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  color: inherit;
  letter-spacing: 0.02rem;
}

p {
  color: #455454;
}
p1,
input::placeholder,
textarea::placeholder {
  color: #889c9c;
  font-size: 0.9rem;
}
p2 {
  color: #889c9c;
  font-weight: 700;
}
h1,
h2,
h3,
h4 {
  font-weight: 800;
}

h1 {
  font-size: 2.1rem;
  letter-spacing: 0.05rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
  line-height: 1.2rem;
}

h4 {
  font-size: 0.9rem;
  color: #29a5a8;
  line-height: 1.5rem;
}

/* seperate */
accent {
  width: 100vw;
  display: block;
  height: 0.5rem;
  background: linear-gradient(90deg, #1e3f75 0%, #33b8bb 54.69%, #29a5a8 100%);
}

/* seperate */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

input,
textarea {
  padding: 0.5rem;
  border: 0.5px solid #889c9c;
  border-radius: 5px;
}

textarea {
  overflow: auto;
  min-height: 20vh;
}

a,
em {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #29a5a8;
  text-decoration: none;
  font-style: normal;
}
a:active,
a:hover {
  outline-width: 0;
}

img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
svg:not(:root) {
  overflow: hidden;
}

button,
input,
textarea {
  font: inherit;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
  padding: 0.6rem 1.5rem;
  width: max-content;
  background-color: #29a5a8;
  border: 0;
  border-radius: 10rem;
  color: white;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

herographics {
  position: absolute;
  /* background-color: aliceblue; */
  bottom: 0;
  right: 0;
  padding: 0;

  /* responsive */
  opacity: 0.1;
}
herographics > img {
  /* responsive */
  height: 200px;
  margin-bottom: -5rem;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* For smaller tablets, mobile landscape mode */
  responsive {
    padding: 2rem 1.5rem;
  }
}

@media only screen and (min-width: 685px) {
  /* For most tablets: */
  herographics {
    opacity: 0.15;
  }
  herographics > img {
    /* responsive */
    height: 300px;
  }
  section {
    margin: 10rem auto;
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For narrow screens tablets: */
  responsive {
    padding: 2.5rem 2rem;
  }
  herographics > img {
    /* responsive */
    height: 400px;
  }
  section {
    margin: 12rem auto;
  }
}

@media only screen and (min-width: 900px) {
  /* For laptops and desktops beyond */
  herographics {
    opacity: 0.2;
  }
  herographics > img {
    /* responsive */
    height: 600px;
  }
}
